<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include "navbar.html" %}

<div class="center">
  <div class="card">
    <h2>Edit Student</h2>

    <form method="POST">

      <input type="text" name="name"
             value="{{ student.name }}" required>

      <input type="text" name="roll"
             value="{{ student.roll }}" required>

      <select name="class_name" required>
        {% for c in classes %}
          <option value="{{ c }}"
            {% if c == student.class_name %}selected{% endif %}>
            {{ c }}
          </option>
        {% endfor %}
      </select>

      <input type="text" name="phone"
             value="{{ student.phone }}" required>

      <input type="number" name="total_fee"
             value="{{ student.total_fee }}" required>

      <input type="number" name="paid_fee"
             value="{{ student.paid_fee }}" required>

      <button type="submit">Update Student</button>

    </form>
  </div>
</div>

</body>
</html>
