<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Student | Student ERP</title>
  <link rel="stylesheet" href="/static/react/app.css">
</head>
<body>
  <div id="root"></div>
  <script>
    window.__ERP_PAGE__ = {
      name: "edit-student",
      title: "Edit Student",
      props: {
        classes: {{ classes|tojson }},
        student: {
          id: {{ student.id|tojson }},
          name: {{ student.name|tojson }},
          roll: {{ student.roll|tojson }},
          class_name: {{ student.class_name|tojson }},
          phone: {{ student.phone|tojson }},
          total_fee: {{ student.total_fee|tojson }},
          paid_fee: {{ student.paid_fee|tojson }}
        }
      }
    };
  </script>
  <script type="module" src="/static/react/app.js"></script>
</body>
</html>
