<!DOCTYPE html>
<html>
<head>
  <title>Forgot Username / Password</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="center">
  <div class="card">
    <h2>Reset Account</h2>

    <p><b>Security Question:</b><br>
       What is your pet name?</p>

    {% if error %}
      <p style="color:red;font-weight:bold;">{{ error }}</p>
    {% endif %}

    {% if success %}
      <p style="color:green;font-weight:bold;">{{ success }}</p>
    {% endif %}

    <form method="POST">
      <input type="text" name="answer"
             placeholder="Security Answer" required>

      <input type="text" name="new_username"
             placeholder="New Username" required>

      <input type="password" name="new_password"
             placeholder="New Password" required>

      <button type="submit">Reset</button>
    </form>

    <p style="text-align:center; margin-top:10px;">
      <a href="/">Back to Login</a>
    </p>
  </div>
</div>

</body>
</html>
