<!DOCTYPE html>
<html>
<head>
  <title>Monthly Fee</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include "navbar.html" %}

<div class="center">
  <div class="card" style="width:420px;">
    <h2>Monthly Fee</h2>

    {% if error %}
      <p style="color:red; font-weight:bold;">{{ error }}</p>
    {% endif %}

    <p><b>Name:</b> {{ student.name }}</p>
    <p><b>Total Fee:</b> ₹ {{ student.total_fee }}</p>
    <p><b>Paid:</b> ₹ {{ student.paid_fee }}</p>
    <p><b>Due:</b> ₹ {{ student.total_fee - student.paid_fee }}</p>

    <form method="POST">
<select name="month" required>
  <option value="">Select Month</option>
  {% for m in months %}
    <option value="{{ m }}">{{ m }}</option>
  {% endfor %}
</select>
      <input type="number" name="amount" placeholder="Amount Paid" required>
      <button type="submit">Pay Fee</button>
    </form>

    <hr>

    <h3>Payment History</h3>

    {% for p in payments %}
  <p>
    📅 {{ p.month }} |
    ₹ {{ p.amount }} |
    {{ p.pay_date }} |
    <a href="/monthly-receipt/{{ p.id }}" target="_blank">🧾 Receipt</a>
  </p>
{% else %}
  <p>No payments yet</p>
{% endfor %}


  </div>
</div>

</body>
</html>
