<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  {% include "navbar.html" %}
<h2 class="title">Student List</h2>
<form method="GET" style="text-align:center; margin-bottom:20px;">
  <label><b>Select Class:</b></label>

  <select name="class" onchange="this.form.submit()">
    <option value="all">All Classes</option>

    {% for c in classes %}
      <option value="{{ c }}"
        {% if selected_class == c %}selected{% endif %}>
        {{ c }}
      </option>
    {% endfor %}
  </select>
</form>


<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Roll</th>
    <th>Class</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>

  {% for s in students %}
  <tr>
    <td>{{ s.id }}</td>
    <td>{{ s.name }}</td>
    <td>{{ s.roll }}</td>
    <td>{{ s.class_name }}</td>
    <td>{{ s.phone }}</td>
    <td>
      <a href="/edit-student/{{ s.id }}">✏️ Edit</a> |
      <a href="/delete-student/{{ s.id }}"
         onclick="return confirm('Are you sure?')">❌ Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>


</body>
</html>
